body {
  background-color: $bgcolor_slide_1;
  font-family: $font_base;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
}

ul {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}

h1 {
  font-size: 35px;
  line-height: 41px;
}

.site {
  &__heading {
    font-size: 35px;
    line-height: 41px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__cover {
    background-repeat: no-repeat;
    background-position: center top;
    transition: background-image 0.5s;
  }

  &__link {
    position: relative;
    display: inline-block;
    font-family: $font_title;
    text-decoration: underline;

    &:hover,
    &:active {
      color: #ffbc9e;
    }

    &_contrast {

      &:hover,
      &:active {
        color: #e84d37;
      }
    }
  }
}

.container {
  min-width: 860px;
  max-width: 1146px;
  margin: 0 auto;
  // border: 1px solid yellow;
}

.visually-hidden {
  position: absolute;
  padding: 0;
  margin: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
  transition: all 1s;
}

.products {

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    margin-bottom: 39px;
    width: 22.2%;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    text-align: center;

    &:hover {
      z-index: 1;

      &:before {
        content: '';
        position: absolute;
        border-radius: 5px;
        top: -10px; bottom: -80px;
        left: -10px; right: -10px;
        background-color: rgba(#fff, .2);
      }

      &:before {
      }

      .products__button {
        display: block;
      }

      .products__cover,
      .products__title,
      .products__price {
        position: relative;
        z-index: 20;
      }
    }
  }

  &__cover {
    width: 100%;
    height: auto;
  }

  &__title {
    font-family: $font_title;
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    margin-top: -40px;
    order: 1;
  }

  &__price {
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
    position: relative;
    top: -61px;
    margin-right: auto;

    small {
      font-size: 30px;
    }
  }

  &__button {
    display: none;
    position: absolute;
    bottom: -60px;
  }
}

.two-columns {

  > *:nth-child(2n) {
    margin-left: 20px;
  }
}

.link {

  &__icon{
    position: absolute;
    left: -22px;
  }
}

.breadcrumbs {

  &__list {
    display: flex;
    float: left;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 14px;
    line-height: 16px;
    font-family: $font_base;
  }

  &__item {

    &:not(:first-of-type) {
      position: relative;
      margin-left: 22px;

      &:before {
        content: "»";
        position: absolute;
        left: -14px;
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
  padding: 25px 0 30px;

  &__pages-list {
    display: flex;
    margin-left: 7px;
    margin-right: 7px;
    font-family: $font_title;
    font-size: 16px;
    line-height: 25px;
    color: #fff;
  }

  &__page {

    &:not(:first-of-type) {
      margin-left: 3px;
    }

    &_current {
      background-color: #fff!important;
      color: #000;
    }
  }

  &__control {
    width: 25px; height: 25px;
    background: none;
    border: none;
    border-radius: 50%;
    text-align: center;

    &:not(.pagination__control_disabled) {

      &:hover {
        background-color: rgba(255,255,255,.34);
      }

      &:active {
        background-color: #fff;
        color: #000;
      }
    }

    &_disabled {
      opacity: 0.2;
    }
  }
}
