body {
  // background-color: $bgcolor_slide_1;
  font-family: $font_base;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.site {
  &__cover {
    background-repeat: no-repeat;
    background-position: center top;
    transition: background-image 0.5s;
  }

  &__link {
    position: relative;
    display: block;
    font-family: $font_title;
    text-decoration: underline;

    &:hover,
    &:active {
      color: #ffbc9e;
    }

    &_contrast {

      &:hover,
      &:active {
        color: #e84d37;
      }
    }

    // &:before {
    //   content: "";
    //   position: absolute;
    //   bottom: 0;
    //   left: 0;
    //   right: 0;
    //   height: 1px;
    //   // background-color: inherit;
    //   opacity: 0.3;
    // }
  }
}
// li > a {
//   height: 100%;
//   width: 100%;
// }

.container {
  min-width: 860px;
  max-width: 1146px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  padding: 0;
  margin: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
  transition: all 1s;
}

.products {

  &__button {
    display: none;
  }
}
