.button {
  border: none;
  text-align: center;
  display: inline-block;
  outline: none;
}

.button_main {
  background: linear-gradient(to top, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  color: #fff;
  font-weight: bold;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);

  &:hover {
    background: linear-gradient(to top, #f58669 0%, #ec6f5e 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
  }

  &:active {
    background: linear-gradient(to top, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
  }
}

.button_transparent {
  line-height: 32px;
  border: 2px solid #fff;
  background-color: rgba(255,255,255,.2);
  color: #fff;
  border-radius: 18px;

  &:hover {
    background-color: #fff;
    color: #000;
    line-height: 36px;
    border: none;
  }

  &:active {
    // border: none;
    box-shadow: inset 0px 2px 1px 0px #696969;
    line-height: 36px;
    border: none;
    color: #000;
    background-color: #fff;
  }
}

.button_l {
  padding: 10px 15px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 20px;
}

.button_xl {
  font-size: 32px;
  line-height: 44px;
  padding: 10px 42px 12px;
  border-radius: 33px;
}

.site__input {
  padding: 8px 15px;
  font-size: 16px;
  line-height: 24px;
  background-color: #fff;
  border: 1px solid #c7c6c5;
  border-radius: 5px;
  box-sizing: border-box;

  &::placeholder {
    color: #999999;
  }

  + input,
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &:hover {
    border-width: 2px;
    padding: 7px 14px;
  }

  &:focus {
    padding: 7px 14px;
    border: 2px solid #8fbdec;
  }
}
