.banners {
  margin-bottom: 40px;

  &__list {
    justify-content: space-between;
  }

  &__item {
    position: relative;
    display: block;
    padding: 20px;
    height: 230px;
    background-color: red;
    color: #fff;
    font-weight: bold;

    // &:nth-of-type(2n) {
    //   margin-left: 20px;
    // }

    &_raspberry {
      background-image: url('../img/back-1.jpg');
    }

    &_chocolate {
      background-image: url('../img/back-2.jpg');
    }
  }

  &__title {
    font-size: 35px;
    line-height: 41px;
    margin: 0;
  }

  &__text {
    font-size: 18px;
    line-height: 22px;
    margin: 0;
  }

  &__title + &__text {
    margin-top: 20px;
  }

  &__button {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}
