.item_hit {

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 61px;
    height: 61px;
    background-color: #fff;
    background-image: url('../img/svg/hit.svg');
    display: flex;
    border-radius: 50%;
    z-index: 20;
  }
}
