.mailing {
  margin-bottom: 40px;

  &__section {
    height: 220px;
    color: #5a5a5a;
    box-sizing: border-box;
  }
}

.last-news {
  padding: 24px 20px;
  background-color: #fff;
  background-image: url("../img/back-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;

  &__title {
    margin: 0 0 12px;
    font-family: $font_title;
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
  }

  &__link {
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #000;
    text-decoration: underline;
  }
}

.subscribe {
  position: relative;
  padding: 33px 26px;
  background-image: url('../img/svg/bg-post.svg');
  background-size: cover;

  &:before {
    content: '';
    position: absolute;
    left: 6px;
    right: 6px;
    top: 6px;
    bottom: 6px;
    background-color: #f8f7f4;
    border-radius: 14px;
    // z-index: 1;
  }

  &__text, &__form {
    position: relative;
    z-index: 1;
  }

  &__text {
    margin: 0 0 15px;
  }

  &__form {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__input {
    flex-grow: 1;
  }

  &__submit {
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 20px;
  }
}
