.promo {
  position: relative;
}

.promo__slider {
  display: block;
  margin: 276px 0 0;
}

.promo__slide {
  display: none;
  text-align: center;
}

.slide__title {
  font-size: 60px;
  line-height: 60px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.slide__button {
  width: 279px;
}

.slider__indicators {
  position: absolute;
  left: 0;
  bottom: 22px;
  display: flex;

  li + li {
    margin-left: 8px;
  }
}

.slider__indicator {
  display: block;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: 1px solid #fff;
}

#promo-slider-state-1:checked ~ .site__cover .slider__indicator_1,
#promo-slider-state-2:checked ~ .site__cover .slider__indicator_2,
#promo-slider-state-3:checked ~ .site__cover .slider__indicator_3 {
  background-color: #fff;
}


#promo-slider-state-1:checked {

  ~ .site__cover {
    background-color: $bgcolor_slide_1;
    background-image: url('../img/slide-1_1045_881.png');

    .slide__content_1 {
      display: block;
    }
  }
}

#promo-slider-state-2:checked {

  ~ .site__cover {
    background-color: $bgcolor_slide_2;
    background-image: url('../img/slide-2_1065_859.png');

    .slide__content_2 {
      display: block;
    }
  }
}

#promo-slider-state-3:checked {

  ~ .site__cover {
    background-color: $bgcolor_slide_3;
    background-image: url('../img/slide-3_1079_854.png');

    .slide__content_3 {
      display: block;
    }
  }
}
